Source: steamos-atomupd
Section: admin
Priority: optional
Maintainer: Arnaud Rebillout <arnaud.rebillout@collabora.com>
Build-Depends:
 debhelper-compat (= 12),
 meson,
 python3 <!nocheck>,
 python3-semantic-version <!nocheck>,
Standards-Version: 4.3.0
Homepage: https://store.steampowered.com/steamos/

Package: steamos-atomupd-common
Architecture: any
Depends:
 ${misc:Depends},
 python3,
 python3-semantic-version,
Description: SteamOS Atomic Update (common files)
 Common files for Steamos Atomic Update, basically the private Python library
 that is used by both the client and the server.

Package: steamos-atomupd-client
Architecture: any
Depends:
 ${misc:Depends},
 casync,
 python3,
 rauc,
 rauc-service,
 steamos-atomupd-common,
Description: SteamOS Atomic Update (client)
 Atomic update client for SteamOS.

Package: steamos-atomupd-server
Architecture: any
Depends:
 ${misc:Depends},
 python3,
 python3-flask,
 steamos-atomupd-common,
Description: SteamOS Atomic Update (server)
 Atomic update server for SteamOS.
